In [1]:
import pandas as pd
import _pickle 
import numpy as np

with open("ads_details_df","rb") as f:
    df= _pickle.load(f)

In [2]:
site=list()
nan=0
elk=0
dog=0

In [3]:
for _, row in df.iterrows():
    if  row.isna()['Site İçerisinde']:
        site.append(False)
    else:
        site.append(True)

In [4]:
print(site[40:50])

[False, False, False, False, False, False, False, False, False, True]

In [5]:
df['Site İçerisinde Binary']=site

In [13]:
df[["Site İçerisinde","Site İçerisinde Binary"]]

                                   Site İçerisinde  Site İçerisinde Binary
0                                              NaN                   False
1                                              NaN                   False
2                                              NaN                   False
3                                              NaN                   False
4                                              NaN                   False
...                                            ...                     ...
11445                          Ağaoğlu Maslak 1453                    True
11446                                          NaN                   False
11447                                          NaN                   False
11448  Skyland İstanbul (İstanbul, Sarıyer, Huzur)                    True
11449                                          NaN                   False

[11450 rows x 2 columns]

# Yakıt tipi

In [6]:
df["Yakıt Tipi"].unique()
yakıt_dict=dict()
for i in df["Yakıt Tipi"].unique():
    if isinstance(i, str):
        yakıt_dict[i]=0
yakıt_dict["nan"]=0
yakıt_dict

{'Doğalgaz': 0, 'Elektrik': 0, 'Kömür-Odun': 0, 'Akaryakıt': 0, 'nan': 0}

In [7]:
for _, row in df.iterrows():
    try:
        yakıt_dict[row["Yakıt Tipi"]]+=1
    except:
        yakıt_dict["nan"]+=1
        
yakıt_dict

{'Doğalgaz': 7996,
 'Elektrik': 335,
 'Kömür-Odun': 30,
 'Akaryakıt': 11,
 'nan': 3078}

# Cephe

In [8]:
cephe={"Doğu":[],"Batı":[],"Kuzey":[],"Güney":[],"nan":[]}
for _, row in df.iterrows():
    if isinstance(row["Cephe"], str):
        for c in cephe:
            cephe[c].append(False)
        for i in row["Cephe"].split(","):
            i=i.replace(" ","") 
            cephe[i][-1]=cephe[i][-1] or True
    else:
        for c in cephe:
            cephe[c].append(False)
            cephe["nan"][-1]= True

In [9]:
df['dogu']=cephe["Doğu"]
df['bati']=cephe["Batı"]
df['kuzey']=cephe["Kuzey"]
df['guney']=cephe["Güney"]
df['cephe=nan']=cephe["nan"]

In [10]:
df[["Cephe","dogu","bati","kuzey","guney","cephe=nan"]]

                          Cephe   dogu   bati  kuzey  guney  cephe=nan
0                         Kuzey  False  False   True  False      False
1             Güney, Doğu, Batı   True   True  False   True      False
2             Güney, Doğu, Batı   True   True  False   True      False
3      Kuzey, Güney, Doğu, Batı   True   True   True   True      False
4                    Doğu, Batı   True   True  False  False      False
...                         ...    ...    ...    ...    ...        ...
11445                       NaN  False  False  False  False       True
11446                     Güney  False  False  False   True      False
11447               Güney, Batı  False   True  False   True      False
11448  Kuzey, Güney, Doğu, Batı   True   True   True   True      False
11449         Güney, Doğu, Batı   True   True  False   True      False

[11450 rows x 6 columns]

# Kullanım Durumu

In [11]:
yakıt_dict=dict()
for i in df["Kullanım Durumu"].unique():
    if isinstance(i, str):
        yakıt_dict[i]=0
yakıt_dict["nan"]=0
yakıt_dict

for _, row in df.iterrows():
    try:
        yakıt_dict[row["Kullanım Durumu"]]+=1
    except:
        yakıt_dict["nan"]+=1
        
yakıt_dict


for i, row in df.iterrows():
    if not isinstance(row["Kullanım Durumu"], str):
        df.at[i,"Kullanım Durumu"]='Belirtilmemiş'

In [12]:
df["Kullanım Durumu"].unique()
yakıt_dict=dict()
for i in df["Kullanım Durumu"].unique():
    if isinstance(i, str):
        yakıt_dict[i]=0
yakıt_dict["nan"]=0
yakıt_dict

for _, row in df.iterrows():
    try:
        yakıt_dict[row["Kullanım Durumu"]]+=1
    except:
        yakıt_dict["nan"]+=1
        
yakıt_dict

{'Boş': 9455,
 'Mülk Sahibi': 518,
 'Kiracılı': 636,
 'Belirtilmemiş': 841,
 'nan': 0}