In [1]:
import pandas as pd
import numpy as np
import _pickle

import matplotlib.pyplot as plt

from sklearn.svm import SVR

from sklearn.model_selection import cross_val_score, train_test_split, KFold
from sklearn.metrics import mean_absolute_error

from sklearn.impute import SimpleImputer

In [2]:
SEED=1

In [3]:
with open('model_ready_data', 'rb') as f:
    df = _pickle.load(f)
df.head()

,rent,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
8262,30000,41.043127,28.969064,2,1,100,75,1,8.0,True,...,0,0,1,0,0,0,0,0,0,0
8260,8000,40.979325,28.729905,3,1,145,130,30,5.0,False,...,0,0,1,0,0,0,0,0,0,0
7889,10000,41.057928,28.974291,3,1,110,100,15,5.0,False,...,0,0,1,0,0,0,0,0,0,0
7919,65000,41.152676,28.924586,3,1,165,121,0,3.0,False,...,0,0,0,0,0,1,0,0,0,0
7923,55000,41.207677,29.020296,6,2,450,430,16,4.0,False,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
###################

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10255 entries, 8262 to 10947
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rent                         10255 non-null  int32
 1   latitude                     9191 non-null   float64
 2   longitude                    9191 non-null   float64
 3   oda_sayisi                   10255 non-null  int64
 4   salon_sayisi                 10255 non-null  int64
 5   brut_m2                      10255 non-null  int64
 6   net_m2                       10255 non-null  int64
 7   bina_yasi                    10255 non-null  int32
 8   kat_sayisi                   10243 non-null  float64
 9   esyali                       10255 non-null  bool
 10  banyo_sayisi                 10247 non-null  float64
 11  site_icerisinde_binary       10255 non-null  bool
 12  dogu                         10255 non-null  bool
 13  bati                         10255 non-null  bool
 14  kuzey                        10255 non-null  bool
 15  guney                        10255 non-null  bool
 16  cephe_sayisi                 10255 non-null  int64
 17  bulundugu_kat_num            8993 non-null   float64
 18  binned_konut_sekli_0         10255 non-null  uint8
 19  binned_konut_sekli_1         10255 non-null  uint8
 20  binned_konut_sekli_3         10255 non-null  uint8
 21  binned_konut_sekli_4         10255 non-null  uint8
 22  binned_isinma_tipi_0         10255 non-null  uint8
 23  binned_isinma_tipi_1         10255 non-null  uint8
 24  binned_isinma_tipi_2         10255 non-null  uint8
 25  binned_isinma_tipi_3         10255 non-null  uint8
 26  binned_isinma_tipi_4         10255 non-null  uint8
 27  binned_isinma_tipi_5         10255 non-null  uint8
 28  binned_isinma_tipi_6         10255 non-null  uint8
 29  binned_isinma_tipi_7         10255 non-null  uint8
 30  binned_yapi_tipi_0.0         10255 non-null  uint8
 31  binned_yapi_tipi_1.0         10255 non-null  uint8
 32  binned_yapi_tipi_2.0         10255 non-null  uint8
 33  binned_yapi_tipi_4.0         10255 non-null  uint8
 34  yapinin_durumu_-             10255 non-null  uint8
 35  yapinin_durumu_SÄ±fÄ±r         10255 non-null  uint8
 36  yapinin_durumu_Ä°kinci El     10255 non-null  uint8
 37  binned_yakit_tipi_0          10255 non-null  uint8
 38  binned_yakit_tipi_1          10255 non-null  uint8
 39  binned_yakit_tipi_2          10255 non-null  uint8
 40  kullanim_durumu_-            10255 non-null  uint8
 41  kullanim_durumu_BoÅŸ          10255 non-null  uint8
 42  kullanim_durumu_KiracÄ±lÄ±     10255 non-null  uint8
 43  kullanim_durumu_MÃ¼lk Sahibi  10255 non-null  uint8
 44  binned_bulundugu_kat_cat_0   10255 non-null  uint8
 45  binned_bulundugu_kat_cat_1   10255 non-null  uint8
 46  binned_bulundugu_kat_cat_10  10255 non-null  uint8
 47  binned_bulundugu_kat_cat_11  10255 non-null  uint8
 48  binned_bulundugu_kat_cat_2   10255 non-null  uint8
 49  binned_bulundugu_kat_cat_3   10255 non-null  uint8
 50  binned_bulundugu_kat_cat_4   10255 non-null  uint8
 51  binned_bulundugu_kat_cat_6   10255 non-null  uint8
 52  binned_bulundugu_kat_cat_7   10255 non-null  uint8
 53  binned_bulundugu_kat_cat_8   10255 non-null  uint8
 54  binned_bulundugu_kat_cat_9   10255 non-null  uint8
dtypes: bool(6), float64(5), int32(2), int64(5), uint8(37)
memory usage: 1.4 MB

there is no missing value for the categorical variables

In [5]:
X, y = df.drop('rent', axis=1), df['rent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=SEED)

In [7]:
# [y_train.name] + list(X_train.columns) == df.columns

In [6]:
strategy = 'median'
imputer = SimpleImputer(missing_values=np.nan, strategy=strategy)
train_imputed = pd.DataFrame(imputer.fit_transform(pd.concat([y_train, X_train], axis=1)), 
                             columns=[y_train.name]+list(X_train.columns))
train_imputed

,rent,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
0,12500.0,40.993639,28.873006,3.0,1.0,125.0,110.0,38.0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,55000.0,41.067585,29.038525,3.0,1.0,170.0,155.0,50.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15000.0,41.016464,28.589826,1.0,1.0,75.0,70.0,25.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,10000.0,41.048428,28.986134,3.0,1.0,120.0,100.0,15.0,5.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5000.0,41.048428,28.986134,1.0,1.0,60.0,55.0,25.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9224,12000.0,41.044521,28.977545,1.0,1.0,75.0,65.0,35.0,4.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9225,8500.0,41.048428,28.986134,3.0,1.0,135.0,110.0,20.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9226,12000.0,41.146061,29.041284,2.0,1.0,130.0,125.0,20.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9227,12500.0,40.921500,29.159100,1.0,1.0,67.0,49.0,6.0,17.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9228,7000.0,41.050116,28.986259,1.0,0.0,22.0,16.0,35.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
X_train_imputed, y_train = train_imputed.drop('rent', axis=1), train_imputed['rent']
X_train_imputed.shape, y_train.shape

((9229, 54), (9229,))

In [15]:
numerical_cols = ['latitude', 'longitude', 'oda_sayisi', 'salon_sayisi', 'brut_m2',
               'net_m2', 'bina_yasi', 'kat_sayisi', 'banyo_sayisi',
               'site_icerisinde_binary', 'cephe_sayisi', 'bulundugu_kat_num']

In [18]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
X_train_num_scaled = pd.DataFrame(scaler.fit_transform(X_train_imputed[numerical_cols]), columns=numerical_cols)
X_train_num_scaled

,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,banyo_sayisi,site_icerisinde_binary,cephe_sayisi,bulundugu_kat_num
0,-0.773885,-0.964285,0.5,0.0,0.238095,0.363636,1.333333,-0.125,0.0,0.0,0.5,0.000
1,0.270573,0.446577,0.5,0.0,0.952381,1.181818,1.904762,-0.125,2.0,0.0,1.5,0.000
2,-0.451480,-3.378078,-0.5,0.0,-0.555556,-0.363636,0.714286,-0.250,0.0,0.0,0.0,-0.700
3,0.000000,0.000000,0.5,0.0,0.158730,0.181818,0.238095,0.000,0.0,0.0,0.0,-0.250
4,0.000000,0.000000,-0.5,0.0,-0.793651,-0.636364,0.714286,-0.375,0.0,0.0,-0.5,-0.575
...,...,...,...,...,...,...,...,...,...,...,...,...
9224,-0.055186,-0.073212,-0.5,0.0,-0.555556,-0.454545,1.190476,-0.125,0.0,0.0,0.0,-0.250
9225,0.000000,0.000000,0.5,0.0,0.396825,0.363636,0.476190,0.125,1.0,0.0,0.5,0.000
9226,1.379014,0.470091,0.0,0.0,0.317460,0.636364,0.476190,-0.250,0.0,0.0,1.5,-0.500
9227,-1.792811,1.474338,-0.5,0.0,-0.682540,-0.745455,-0.190476,1.500,0.0,1.0,0.5,2.000
9228,0.023831,0.001063,-0.5,-1.0,-1.396825,-1.345455,1.190476,-0.250,0.0,0.0,-0.5,-0.575

In [19]:
X_train_scaled = X_train_imputed.copy()
X_train_scaled[numerical_cols] = X_train_num_scaled
X_train_scaled

,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,banyo_sayisi,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
0,-0.773885,-0.964285,0.5,0.0,0.238095,0.363636,1.333333,-0.125,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.270573,0.446577,0.5,0.0,0.952381,1.181818,1.904762,-0.125,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.451480,-3.378078,-0.5,0.0,-0.555556,-0.363636,0.714286,-0.250,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.5,0.0,0.158730,0.181818,0.238095,0.000,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,-0.5,0.0,-0.793651,-0.636364,0.714286,-0.375,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9224,-0.055186,-0.073212,-0.5,0.0,-0.555556,-0.454545,1.190476,-0.125,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9225,0.000000,0.000000,0.5,0.0,0.396825,0.363636,0.476190,0.125,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9226,1.379014,0.470091,0.0,0.0,0.317460,0.636364,0.476190,-0.250,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9227,-1.792811,1.474338,-0.5,0.0,-0.682540,-0.745455,-0.190476,1.500,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9228,0.023831,0.001063,-0.5,-1.0,-1.396825,-1.345455,1.190476,-0.250,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

applying imputation and scaling to test set

In [21]:
X_test

,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,banyo_sayisi,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
4482,NaN,NaN,2,1,90,80,24,5.0,True,1.0,...,0,0,1,0,0,0,0,0,0,0
5974,41.055509,28.972198,2,1,95,85,11,6.0,False,1.0,...,0,0,0,0,0,0,0,0,0,0
5894,41.078852,28.950906,6,1,260,250,8,5.0,False,2.0,...,0,0,1,0,0,0,0,0,0,0
8056,41.051351,29.005888,2,1,90,85,10,4.0,True,1.0,...,0,0,1,0,0,0,0,0,0,0
6661,40.922518,29.127635,2,1,128,116,31,3.0,True,1.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,NaN,NaN,1,1,75,70,30,4.0,False,1.0,...,0,0,0,0,1,0,0,0,0,0
7665,41.016489,28.681125,3,1,187,170,5,30.0,False,2.0,...,0,0,1,0,0,0,0,0,0,0
3751,40.970407,29.055077,1,1,60,45,0,10.0,False,1.0,...,0,0,0,0,1,0,0,0,0,0
4425,41.027578,28.677838,1,1,85,75,3,4.0,True,1.0,...,0,0,0,0,0,1,0,0,0,0
1082,41.101500,28.982700,1,1,45,34,2,17.0,True,1.0,...,0,0,1,0,0,0,0,0,0,0

In [22]:
test_imputed = pd.DataFrame(imputer.transform(pd.concat([y_test, X_test], axis=1)), 
                             columns=[y_test.name]+list(X_test.columns))
test_imputed

,rent,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
0,6000.0,41.048428,28.986134,2.0,1.0,90.0,80.0,24.0,5.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15000.0,41.055509,28.972198,2.0,1.0,95.0,85.0,11.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20000.0,41.078852,28.950906,6.0,1.0,260.0,250.0,8.0,5.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19000.0,41.051351,29.005888,2.0,1.0,90.0,85.0,10.0,4.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12500.0,40.922518,29.127635,2.0,1.0,128.0,116.0,31.0,3.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,7000.0,41.048428,28.986134,1.0,1.0,75.0,70.0,30.0,4.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1022,13000.0,41.016489,28.681125,3.0,1.0,187.0,170.0,5.0,30.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1023,23000.0,40.970407,29.055077,1.0,1.0,60.0,45.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1024,6000.0,41.027578,28.677838,1.0,1.0,85.0,75.0,3.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1025,20000.0,41.101500,28.982700,1.0,1.0,45.0,34.0,2.0,17.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
X_test_imputed, y_test = test_imputed.drop('rent', axis=1), test_imputed['rent']
X_test_imputed.shape, y_test.shape

((1026, 54), (1026,))

In [24]:
X_test_num_scaled = pd.DataFrame(scaler.transform(X_test_imputed[numerical_cols]), columns=numerical_cols)
X_test_num_scaled

,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,banyo_sayisi,site_icerisinde_binary,cephe_sayisi,bulundugu_kat_num
0,0.000000,0.000000,0.0,0.0,-0.317460,-0.181818,0.666667,0.000,0.0,0.0,0.0,0.250
1,0.100008,-0.118787,0.0,0.0,-0.238095,-0.090909,0.047619,0.125,0.0,0.0,-0.5,0.000
2,0.429726,-0.300280,2.0,0.0,2.380952,2.909091,-0.095238,0.000,1.0,0.0,0.0,0.500
3,0.041276,0.168383,0.0,0.0,-0.317460,-0.090909,0.000000,-0.125,0.0,0.0,0.0,-0.500
4,-1.778426,1.206130,0.0,0.0,0.285714,0.472727,1.000000,-0.250,0.0,0.0,0.5,-0.500
...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.000000,0.000000,-0.5,0.0,-0.555556,-0.363636,0.952381,-0.125,0.0,0.0,-0.5,-0.575
1022,-0.451135,-2.599852,0.5,0.0,1.222222,1.454545,-0.238095,3.125,1.0,1.0,-0.5,1.250
1023,-1.102021,0.587661,-0.5,0.0,-0.793651,-0.818182,-0.476190,0.625,0.0,0.0,0.5,-0.625
1024,-0.294497,-2.627873,-0.5,0.0,-0.396825,-0.272727,-0.333333,-0.125,0.0,0.0,0.0,-0.700
1025,0.749613,-0.029272,-0.5,0.0,-1.031746,-1.018182,-0.380952,1.500,0.0,1.0,0.0,2.250

In [26]:
X_test_scaled = X_test_imputed.copy()
X_test_scaled[numerical_cols] = X_test_num_scaled
X_test_scaled

,latitude,longitude,oda_sayisi,salon_sayisi,brut_m2,net_m2,bina_yasi,kat_sayisi,esyali,banyo_sayisi,...,binned_bulundugu_kat_cat_1,binned_bulundugu_kat_cat_10,binned_bulundugu_kat_cat_11,binned_bulundugu_kat_cat_2,binned_bulundugu_kat_cat_3,binned_bulundugu_kat_cat_4,binned_bulundugu_kat_cat_6,binned_bulundugu_kat_cat_7,binned_bulundugu_kat_cat_8,binned_bulundugu_kat_cat_9
0,0.000000,0.000000,0.0,0.0,-0.317460,-0.181818,0.666667,0.000,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.100008,-0.118787,0.0,0.0,-0.238095,-0.090909,0.047619,0.125,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.429726,-0.300280,2.0,0.0,2.380952,2.909091,-0.095238,0.000,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.041276,0.168383,0.0,0.0,-0.317460,-0.090909,0.000000,-0.125,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.778426,1.206130,0.0,0.0,0.285714,0.472727,1.000000,-0.250,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,0.000000,0.000000,-0.5,0.0,-0.555556,-0.363636,0.952381,-0.125,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1022,-0.451135,-2.599852,0.5,0.0,1.222222,1.454545,-0.238095,3.125,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1023,-1.102021,0.587661,-0.5,0.0,-0.793651,-0.818182,-0.476190,0.625,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1024,-0.294497,-2.627873,-0.5,0.0,-0.396825,-0.272727,-0.333333,-0.125,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1025,0.749613,-0.029272,-0.5,0.0,-1.031746,-1.018182,-0.380952,1.500,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
model = SVR().fit(X_train_scaled, np.power(y_train, 1/3))

In [28]:
preds_train = np.power(model.predict(X_train_scaled), 3)
mean_absolute_error(y_train, preds_train)

5496.620017077171

In [29]:
preds_test = np.power(model.predict(X_test_scaled), 3)
mean_absolute_error(y_test, preds_test)

5586.829382710604

function form for cross validation

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler

def impute_and_scale(X_train, X_val, y_train, y_val, imputation_strategy='median'):
    numerical_cols = ['latitude', 'longitude', 'oda_sayisi', 'salon_sayisi', 'brut_m2',
               'net_m2', 'bina_yasi', 'kat_sayisi', 'banyo_sayisi',
               'site_icerisinde_binary', 'cephe_sayisi', 'bulundugu_kat_num']
    
    # fit the imputer on the train set and impute it
    imputer = SimpleImputer(missing_values=np.nan, strategy=imputation_strategy)
    train_imputed = pd.DataFrame(imputer.fit_transform(pd.concat([y_train, X_train], axis=1)), 
                                 columns=[y_train.name]+list(X_train.columns))
    
    # resplit the train set
    X_train_imputed, y_train = train_imputed.drop('rent', axis=1), train_imputed['rent']
    
    # fit the scaler on the train set and scale it
    scaler = RobustScaler()
    X_train_num_scaled = pd.DataFrame(scaler.fit_transform(X_train_imputed[numerical_cols]), columns=numerical_cols)
    
    X_train_scaled = X_train_imputed.copy()
    X_train_scaled[numerical_cols] = X_train_num_scaled
    
    # impute the val set
    val_imputed = pd.DataFrame(imputer.transform(pd.concat([y_val, X_val], axis=1)), 
                             columns=[y_val.name]+list(X_val.columns))
    
    # resplit the val set
    X_val_imputed, y_val = val_imputed.drop('rent', axis=1), val_imputed['rent']
    
    # scale the val set
    X_val_num_scaled = pd.DataFrame(scaler.transform(X_val_imputed[numerical_cols]), columns=numerical_cols)
    
    X_val_scaled = X_val_imputed.copy()
    X_val_scaled[numerical_cols] = X_val_num_scaled
    
    return X_train_scaled, X_val_scaled

In [6]:
def cross_validation(model, X, y, seed, n_splits=10, imputation_strategy='median'):
    kf = KFold(n_splits=n_splits, shuffle=True, random_state=seed)
    cv_scores = []

    for train_idx, val_idx in kf.split(X):
        x_tr, y_tr = X.iloc[train_idx], y.iloc[train_idx]
        x_val, y_val = X.iloc[val_idx], y.iloc[val_idx]
        
        x_tr, x_val = impute_and_scale(x_tr, x_val, y_tr, y_val, imputation_strategy=imputation_strategy)
        
        model.fit(X=x_tr, y=np.power(y_tr, 1/3))
        pred = np.power(model.predict(x_val), 3)
        cv_scores.append(mean_absolute_error(y_val, pred))
        
    return np.mean(cv_scores)

In [10]:
X, y = df.drop('rent', axis=1), df['rent']

In [8]:
model = SVR()

In [9]:
cross_validation(model, X, y, seed=SEED)

5696.904646514606

# hyperparameter optimization

In [7]:
import optuna

In [8]:
def objective(trial, X, y, seed, n_splits):
    C = trial.suggest_loguniform('C', 0.01, 10)
    kernel = trial.suggest_categorical('kernel', ['linear', 'poly', 'rbf', 'sigmoid'])
    degree = 0
    gamma = 'auto'
    epsilon = trial.suggest_loguniform('epsilon', 0.01, 1.0)

    if kernel == 'poly':
        degree = trial.suggest_int('degree', 2, 5)
    elif kernel in ['rbf', 'sigmoid']:
        gamma = trial.suggest_loguniform('gamma', 0.001, 1.0)
    
    params = {'C':C, 'kernel':kernel, 'degree':degree, 
              'gamma':gamma, 'epsilon':epsilon}

    imputation = trial.suggest_categorical('imputation_strategy', ['mean', 'median'])
    
    # train and evaluate the model using the hyperparameters
    #model = SVR(C=C, kernel=kernel, degree=degree, gamma=gamma, epsilon=epsilon)
    model = SVR(**params)
    return cross_validation(model, X, y, seed=SEED, n_splits=n_splits, imputation_strategy=imputation)

In [11]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

study = optuna.create_study(direction='minimize',sampler=optuna.samplers.TPESampler())
study.optimize(lambda trial : objective(trial, X=X, y=y, seed=SEED, n_splits=5), n_trials=50)

[I 2023-02-15 21:18:27,201] A new study created in memory with name: no-name-3f3eb849-0aab-49ee-a51c-30e6f04b6b14
[I 2023-02-15 21:18:57,030] Trial 0 finished with value: 7627.475357221648 and parameters: {'C': 2.5778259355760866, 'kernel': 'rbf', 'epsilon': 0.01465192695735506, 'gamma': 0.619806041176648, 'imputation_strategy': 'mean'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:19:21,630] Trial 1 finished with value: 92652067180695.12 and parameters: {'C': 2.0979543836251056, 'kernel': 'poly', 'epsilon': 0.039245591920423636, 'degree': 5, 'imputation_strategy': 'median'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:19:41,611] Trial 2 finished with value: 21110896737.259087 and parameters: {'C': 1.5446016538876401, 'kernel': 'poly', 'epsilon': 0.2393810883689896, 'degree': 4, 'imputation_strategy': 'mean'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:19:56,003] Trial 3 finished with value: 7676.012173334738 and parameters: {'C': 0.06104259009241168, 'kernel': 'linear', 'epsilon': 0.4679900622591411, 'imputation_strategy': 'mean'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:20:14,795] Trial 4 finished with value: 1636586.9495194242 and parameters: {'C': 1.1209297184118783, 'kernel': 'poly', 'epsilon': 0.17963857459611418, 'degree': 3, 'imputation_strategy': 'mean'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:20:33,516] Trial 5 finished with value: 1360970200315.9954 and parameters: {'C': 0.03696969616888327, 'kernel': 'poly', 'epsilon': 0.018295490190135474, 'degree': 5, 'imputation_strategy': 'mean'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:20:52,620] Trial 6 finished with value: 2410445161.1334047 and parameters: {'C': 0.2287774526461209, 'kernel': 'poly', 'epsilon': 0.01939866023874553, 'degree': 4, 'imputation_strategy': 'median'}. Best is trial 0 with value: 7627.475357221648.
[I 2023-02-15 21:21:19,586] Trial 7 finished with value: 7046.274771860961 and parameters: {'C': 0.07868592762838102, 'kernel': 'rbf', 'epsilon': 0.11708208621891125, 'gamma': 0.012146907979684903, 'imputation_strategy': 'mean'}. Best is trial 7 with value: 7046.274771860961.
[I 2023-02-15 21:21:46,429] Trial 8 finished with value: 6436.188712103871 and parameters: {'C': 0.16341102027185506, 'kernel': 'rbf', 'epsilon': 0.022052756361908447, 'gamma': 0.02290782450185791, 'imputation_strategy': 'mean'}. Best is trial 8 with value: 6436.188712103871.
[I 2023-02-15 21:22:05,892] Trial 9 finished with value: 2985186946557.406 and parameters: {'C': 0.14147908234547732, 'kernel': 'poly', 'epsilon': 0.01314987476363985, 'degree': 5, 'imputation_strategy': 'median'}. Best is trial 8 with value: 6436.188712103871.
[I 2023-02-15 21:22:26,460] Trial 10 finished with value: 10289.31831834749 and parameters: {'C': 0.01004701562260363, 'kernel': 'sigmoid', 'epsilon': 0.048380387014879206, 'gamma': 0.001354436620906992, 'imputation_strategy': 'median'}. Best is trial 8 with value: 6436.188712103871.
[I 2023-02-15 21:22:53,247] Trial 11 finished with value: 6241.680196489106 and parameters: {'C': 0.41466292986444664, 'kernel': 'rbf', 'epsilon': 0.07490015160393437, 'gamma': 0.016310206653793183, 'imputation_strategy': 'mean'}. Best is trial 11 with value: 6241.680196489106.
[I 2023-02-15 21:23:19,978] Trial 12 finished with value: 6046.727488050679 and parameters: {'C': 0.4529958085362177, 'kernel': 'rbf', 'epsilon': 0.05310132564924271, 'gamma': 0.026525066752263925, 'imputation_strategy': 'mean'}. Best is trial 12 with value: 6046.727488050679.
[I 2023-02-15 21:23:47,225] Trial 13 finished with value: 5762.271597901133 and parameters: {'C': 0.6987524291322172, 'kernel': 'rbf', 'epsilon': 0.06638366633578302, 'gamma': 0.044706431726649586, 'imputation_strategy': 'mean'}. Best is trial 13 with value: 5762.271597901133.
[I 2023-02-15 21:24:26,179] Trial 14 finished with value: 5208.039244882553 and parameters: {'C': 9.659465068729787, 'kernel': 'rbf', 'epsilon': 0.06059237177012926, 'gamma': 0.10983463409431626, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:25:58,383] Trial 15 finished with value: 7691.876679078852 and parameters: {'C': 8.374486880194635, 'kernel': 'linear', 'epsilon': 0.1077957045597034, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:26:22,979] Trial 16 finished with value: 27633841057.801605 and parameters: {'C': 8.842916436602968, 'kernel': 'sigmoid', 'epsilon': 0.02995585289360065, 'gamma': 0.14055913010313634, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:26:55,928] Trial 17 finished with value: 5209.58622829271 and parameters: {'C': 4.534107190298067, 'kernel': 'rbf', 'epsilon': 0.06558314625725688, 'gamma': 0.14202909959119678, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:27:30,602] Trial 18 finished with value: 5359.080163183836 and parameters: {'C': 4.7400968682684255, 'kernel': 'rbf', 'epsilon': 0.032485350593781465, 'gamma': 0.2095602290825481, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:28:01,307] Trial 19 finished with value: 7815.800316172819 and parameters: {'C': 3.4167026251195933, 'kernel': 'rbf', 'epsilon': 0.081577017399541, 'gamma': 0.708645942484983, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:28:25,296] Trial 20 finished with value: 3506773148.9918694 and parameters: {'C': 4.739017156707515, 'kernel': 'sigmoid', 'epsilon': 0.9793042796031712, 'gamma': 0.12607679735232413, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:29:01,139] Trial 21 finished with value: 5336.134409233452 and parameters: {'C': 4.996027559881731, 'kernel': 'rbf', 'epsilon': 0.032590481657283635, 'gamma': 0.2017378066715653, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:29:45,182] Trial 22 finished with value: 5431.97287266168 and parameters: {'C': 9.327706374300776, 'kernel': 'rbf', 'epsilon': 0.010654759816558076, 'gamma': 0.24068771954483403, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:30:16,358] Trial 23 finished with value: 5287.593249620528 and parameters: {'C': 4.489007072654496, 'kernel': 'rbf', 'epsilon': 0.048871663657979965, 'gamma': 0.07716938747850914, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:30:45,465] Trial 24 finished with value: 7694.783548851039 and parameters: {'C': 1.194966164210982, 'kernel': 'linear', 'epsilon': 0.05288049458291808, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:31:13,830] Trial 25 finished with value: 5391.738189252059 and parameters: {'C': 2.8090792775962874, 'kernel': 'rbf', 'epsilon': 0.09456301956323414, 'gamma': 0.06231250322348568, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:31:44,633] Trial 26 finished with value: 5282.349324010389 and parameters: {'C': 5.7012340338229635, 'kernel': 'rbf', 'epsilon': 0.061575503516569464, 'gamma': 0.07245936247583382, 'imputation_strategy': 'median'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:32:19,030] Trial 27 finished with value: 5223.844428282854 and parameters: {'C': 9.949350606477095, 'kernel': 'rbf', 'epsilon': 0.15963022495748894, 'gamma': 0.07305900403214229, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:32:58,371] Trial 28 finished with value: 5929.943866546673 and parameters: {'C': 8.81558565302027, 'kernel': 'rbf', 'epsilon': 0.14939755975222932, 'gamma': 0.3872770956413439, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:33:26,855] Trial 29 finished with value: 5289.017841899733 and parameters: {'C': 2.442030823635404, 'kernel': 'rbf', 'epsilon': 0.13747378610847996, 'gamma': 0.1026629133769498, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:33:56,842] Trial 30 finished with value: 4208554356.385825 and parameters: {'C': 3.0394017486083835, 'kernel': 'sigmoid', 'epsilon': 0.09295659419526425, 'gamma': 0.32793757832064274, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:34:28,993] Trial 31 finished with value: 5261.702799385859 and parameters: {'C': 6.483262598043264, 'kernel': 'rbf', 'epsilon': 0.06759067305586383, 'gamma': 0.06593114987068711, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:34:58,956] Trial 32 finished with value: 5368.600385642254 and parameters: {'C': 6.63408232333738, 'kernel': 'rbf', 'epsilon': 0.07256934337190367, 'gamma': 0.04440006392087359, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:35:25,981] Trial 33 finished with value: 5329.9552146202595 and parameters: {'C': 1.946773209793097, 'kernel': 'rbf', 'epsilon': 0.19639671430129804, 'gamma': 0.12688215589594684, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:37:09,746] Trial 34 finished with value: 7696.817962763419 and parameters: {'C': 9.879100171981882, 'kernel': 'linear', 'epsilon': 0.038383299640676743, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:37:37,237] Trial 35 finished with value: 5424.951307241986 and parameters: {'C': 3.2420379179125707, 'kernel': 'rbf', 'epsilon': 0.11969152529846476, 'gamma': 0.04775803365963598, 'imputation_strategy': 'mean'}. Best is trial 14 with value: 5208.039244882553.
[I 2023-02-15 21:38:52,284] Trial 36 finished with value: 5197.624353063761 and parameters: {'C': 6.2409942877045435, 'kernel': 'rbf', 'epsilon': 0.2969722590661538, 'gamma': 0.09611835767838475, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:39:38,862] Trial 37 finished with value: 5236.351289820044 and parameters: {'C': 3.5789582741404673, 'kernel': 'rbf', 'epsilon': 0.27004111512263096, 'gamma': 0.10054556930141764, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:39:57,040] Trial 38 finished with value: 9550.021885381515 and parameters: {'C': 1.5357574663722255, 'kernel': 'poly', 'epsilon': 0.2609782841427614, 'degree': 2, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:41:05,370] Trial 39 finished with value: 7709.317514440231 and parameters: {'C': 5.4710072460398145, 'kernel': 'linear', 'epsilon': 0.3471582777824334, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:41:40,531] Trial 40 finished with value: 5232.420574590779 and parameters: {'C': 6.726697077938292, 'kernel': 'rbf', 'epsilon': 0.16808765102086676, 'gamma': 0.17715345930188, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:42:17,060] Trial 41 finished with value: 5228.652321472939 and parameters: {'C': 7.1539940836348785, 'kernel': 'rbf', 'epsilon': 0.1660831569588646, 'gamma': 0.17402648943360463, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:42:44,533] Trial 42 finished with value: 5938.970990638218 and parameters: {'C': 2.005320620846287, 'kernel': 'rbf', 'epsilon': 0.22060749102754224, 'gamma': 0.2919745553609655, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:43:21,034] Trial 43 finished with value: 6396.266718431221 and parameters: {'C': 6.943580649330427, 'kernel': 'rbf', 'epsilon': 0.13695395311765932, 'gamma': 0.4796492165479564, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:43:39,204] Trial 44 finished with value: 17950.76773585096 and parameters: {'C': 4.05677014934837, 'kernel': 'poly', 'epsilon': 0.1681698192622974, 'degree': 2, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:44:08,254] Trial 45 finished with value: 8796.251540663487 and parameters: {'C': 2.415903206191364, 'kernel': 'rbf', 'epsilon': 0.10775526575841347, 'gamma': 0.946149040066652, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:44:48,951] Trial 46 finished with value: 5211.282131954547 and parameters: {'C': 9.626962083176432, 'kernel': 'rbf', 'epsilon': 0.20186525515917828, 'gamma': 0.14521292822345205, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:45:47,699] Trial 47 finished with value: 1291538678.8295612 and parameters: {'C': 4.04032796531079, 'kernel': 'sigmoid', 'epsilon': 0.3126048008445991, 'gamma': 0.090931262936913, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:46:51,590] Trial 48 finished with value: 5207.774841866356 and parameters: {'C': 9.450216612740492, 'kernel': 'rbf', 'epsilon': 0.2256328226247176, 'gamma': 0.14403119140505682, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.
[I 2023-02-15 21:47:14,062] Trial 49 finished with value: 1215704.42094227 and parameters: {'C': 5.993251158495604, 'kernel': 'poly', 'epsilon': 0.22509706079548294, 'degree': 3, 'imputation_strategy': 'mean'}. Best is trial 36 with value: 5197.624353063761.

In [12]:
study.best_params

{'C': 6.2409942877045435,
 'kernel': 'rbf',
 'epsilon': 0.2969722590661538,
 'gamma': 0.09611835767838475,
 'imputation_strategy': 'mean'}